/*Main Site colors*/
$primary-color: #212529;
$secondary-color: #121212;

/*Font colors*/
$primary-font-color: #fff;


/*Button Colors*/
$primary-button-color: #0D6EFD;

/*Agency Demo*/
//Primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$light-blue: #3ebfff;
$dark-desaturated: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate: hsl(168, 34%, 41%);
//Neutral
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);